.ss-mode [data-reveal]:not(.shown) {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 120%;
}

body {
  background-color: ##f60;
  color: floralwhite;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 50px;
}

header,
footer {
  background-color: #222222;
  padding: 1em 3em;
}

footer {
  display: flex;
  justify-content: space-around;
}

a {
  color: #00ccff;
}

figure,
figcaption {
  margin-left: 20px;
}

figure {
  font-style: italic;
}

blockquote {
  margin: 2em 0;
}

li {
  margin: 1em 0;
}

code,
pre {
  display: inline;
}

code {
  background-color: #666;
}

.ss-mode .no-ss {
  display: none;
}
